<a class="flex items-center px-3 py-2 text-slate-400 transition-colors duration-300 transform rounded-lg dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
  href="{{href}}">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
    class="w-8 h-8">
    <path *ngFor="let svgPath of svgData" [attr.d]="svgPath" stroke-linecap="round" stroke-linejoin="round" />
  </svg>

  <span class="mx-2 text-2xl font-medium">{{linkText}}</span>
</a>